h2 {
    display: list-item !important;
    line-style: solid !important;
    line-style-type: disc !important;
    margin-bottom: 10px !important;
    border-bottom: solid 1px !important;
}

.shiki {
    border: solid !important;
    border-color: darkgrey !important;
    max-height: 350px !important;
}
